{
    "arrowParens": "avoid",
    "endOfLine": "auto",
    "tabWidth": 2,
    "jsxSingleQuote": true,
    "semi": false,
    "singleQuote": true,
    "trailingComma": "none",
    "overrides": [
        {
            "files": "*.d.ts",
            "options": {
                "singleQuote": false,
                "semi": true
            }
        }
    ]
}
